body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 20px;
}

h2 {
    color: #333;
}

form input, button {
    padding: 8px;
    margin: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
    background: white;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: center;
}

a {
    color: red;
    text-decoration: none;
}
